body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.menu-container {
  position: relative;
  display: inline-block;
}

.menu {
  position: absolute;
  top: 0;
  left: -300px;
  width: 200px;
  height: auto;
  background-color: #f314c2;
  transition: left 0.5s ease-out;
}

.menu-container:hover .menu {
  left: 0;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  /*margin: 10px 0;*/
  text-align: center;
}

.menu a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.menu-btn {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
}

/* ----------------------------------------------*/
.dropdown {
  position:relative;
  display: inline-block;
}

.dropbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:transparent;
  border: none;
  /*color: #333;*/
  font-size: 1.4rem;
  font-weight: bold;
  font-style: italic;
  padding: 1.5rem 2rem;
  cursor: pointer;
}

.dropbtn img {
  height: 1.5rem;
  margin-right: 0.5rem;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: -100px;
  background-color: white;
  min-width: 500px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
}

.dropdown-content img {
  width: 100%;
  height: auto;
}

.dropdown-content p {
  margin: 0;
  padding: 1rem;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all 0.5s ease-in-out;
}

#etape
{
text-align: center;
font-weight: bold;
font-size: 1.3rem;
}

#campionat
{
text-align: center;
font-size: 4rem;
padding: 1.5rem;
font-weight:bold;
font-style: italic;
color:rgb(241, 37, 37);
-webkit-text-stroke-width: 1.2px;
-webkit-text-stroke-color: black;
}


#etape>div:nth-child(odd)
{color:red
}

#etape>div:nth-child(even)
{color:yellowgreen
}

#etape>div>div>button:nth-child(odd)
{
  color:rgb(209, 255, 71);
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;

}
/* --------------------------------- */

.bg-image {

  background-image: url("denis2.jpg");
  background-size: cover;
  background-position: 0 0;
  filter: blur(3px);
  height: 100%;

}




.bg-text {
  background-color: transparent; /* Fallback color */
  position: absolute;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  
  width: 100%;
  text-align: center;
}