html{
    background-image: url("fundal_gal.avif");
    background-repeat: repeat;
}

.image-container {
    text-align: center;
  }
  
  .image-container img {

    display: inline-block;
    width: 25%;
    margin: 20px;
    transition: filter 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;

  }

  .image-container img:hover {

    filter: brightness(80%);
    transform: scale(1.05);




  }



  #titlu{

    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color:rgb(241, 37, 37);
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;

  }